<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pz.hupuexercise">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".base.MyApplication">
        <activity android:name=".activity.IndexActivity"
            android:screenOrientation="portrait">  <!--禁止屏幕翻转-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ErrorActivity">
        </activity>
        <activity android:name=".login.activity.LoginActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>